[Desktop Entry]
Type=Application
Name=rfm
Comment=Launches the rfm file manager
Icon=system-file-manager
Terminal=false
Exec=rfm.sh -d
Categories=System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;
